language: python

before_install:
    - sudo apt-get update && sudo apt-get --reinstall install -qq language-pack-pt

python:
    - "2.7"
    - "3.4"
    - "3.5"
    - "3.6"

install:
    - pip install coverage
    - pip install codecov

script:
    - cd tests
    - nosetests --with-coverage .

after_success:
    - codecov
